@{
    ViewBag.Title = "Статус работ";
}
@model Data.WorkNotification

<div class="jumbotron">
    <div class="row" onreadystatechange="getStatus()">
        <div id="StatusBoxId" class="text-center">
            <img style="height:50px" src="@Url.Content("~/Img/loading.gif")" />
        </div>
        <div style="text-align:center;">
            <div class="btn btn-success" data-toggle="modal" data-target="#editForm">Задать статус</div>
        </div>
    </div>
</div>

<div class="modal fade" id="editForm" role="form">
    <div class="modal-dialog modal-sm">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <div class="h4 modal-title text-center">Форма задания статуса</div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NotificationDate, "Дата", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.NotificationDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NotificationDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Status, "Статус", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button"  class="btn btn-success" value="Изменить" onclick="addItem(this)" data-dismiss="modal" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function getStatus() {
        $.ajax({
            url: '@Url.Action("GetStatus", "Home")',
            success: function (d) {
                $("#StatusBoxId").html(d);
            },
            error: function (xhr, status, err) {
                $("#StatusBoxId").html(err);
            }
        });
    }

    function addItem(btnClicked) {
        var $form = $(btnClicked).parents('form');

        $.ajax({
            url: '@Url.Action("AddItem", "Home")',
            type: "POST",
            data: $form.serialize(),
            error: function (xhr, status, error) {
                $("#StatusBoxId").html(err);
            },
            success: function (response) {
                $("#StatusBoxId").html()
                getStatus();
            }
        });
    }

    getStatus();
</script>


